# Database Connection URL for Prisma, using NeonDB
DATABASE_URL=

# PORT for the Express server
PORT=

# Better Auth 
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Environment variable for development mode
NODE_ENV=

# Frontend URL for CORS and other configurations
FRONTEND_URL=

# Token secrets and expiration times
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
ACCESS_TOKEN_COOKIE_MAX_AGE=
REFRESH_TOKEN_COOKIE_MAX_AGE=
BETTER_AUTH_SESSION_COOKIE_MAX_AGE=


EMAIL_SENDER_SMTP_HOST=
EMAIL_SENDER_SMTP_PORT=
EMAIL_SENDER_SMTP_USER=
EMAIL_SENDER_SMTP_PASS=
EMAIL_SENDER_SMTP_FROM=


# Cloudinary configuration for image uploads
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stripe configuration for payment processing
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Super Admin credentials for initial setup
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_GENDER=
SUPER_ADMIN_NAME=
SUPER_ADMIN_PHONE=

# OTP for master access (for testing purposes)
DELIVERY_MASTER_OTP=
OTP_EXPIRATION_MINUTES=

# URLs for clearing due payments
CLEAR_DUE_PAYMENT_SUCCESS_URL=
CLEAR_DUE_PAYMENT_CANCEL_URL=

